
.text_field_cont{
    padding: 15px 10px;
    background-color: var(--color-accent-light-blue);
    overflow: hidden;
    border-radius: 10px;

    &:focus-within{
        outline: 5apx white solid;
    }
    
}

.text_field{
    background-color: transparent;
    border: none;
    width: 100%;
    outline: none;
    font-family: 'HeyWow';
    &::placeholder {
        font-family: 'HeyWow';
      }
}

.multi_field{
    min-height: 160px;
}

.cta_btn{
    padding: 10px 80px;
    border-radius: 100px;
    align-self: center;

}