@layer typography, colors, util;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-dark-blue: #3658D3; 
  --color-accent-green: #41B383;
  --color-accent-blue: #619BF7;  
  --color-accent-yellow: #FFEDAF;
  --color-accent-pink: #FFBABA;
  --color-bg-gray: #F2F2F2;

  --color-text-light: #FDFAF5;
  --color-text-gray: #A8A8A8;

  --gap-5: 5px;
  --gap-10: 10px;
  --gap-20: 20px;
  --gap-30: 30px;
  --gap-40: 40px;
}


@font-face {
  font-family: 'Heavywow';
  src: url('/fonts/HeyWowRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  height: 100dvh;
  overflow: scroll;
  font-family: 'Heavywow', sans-serif;
}


* {
  box-sizing: border-box;
  margin: 0;
}


@layer colors {
   .dark-blue{
    color: var(--color-dark-blue);
   }
   .accent-green{
    color: var(--color-accent-green);
   }
   .accent-yellow{
    color: var(--color-accent-yellow);
   }
   .accent-pink{
    color: var(--color-accent-pink);
   }

   .accent-blue{
    color: var(--color-accent-blue);
   }

   .text-light{
    color: var(--color-text-light);
   }
   .text-gray{
    color: var(--color-text-gray);
   }

   .bg-accent-pink{
    background-color: var(--color-accent-pink);
   }
   .bg-gray{
    background-color: var(--color-bg-gray);
   }
}

@layer util{

  .row{
    display: flex; 
  }
  
  .column{
    display: flex;
    flex-direction: column;
  }

  .row-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .column-center{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  
  .wrap {
    flex-wrap: wrap;
  }
  
  .gap-10{
    gap: var(--gap-10);
  }
  .gap-5{
    gap: var(--gap-5);
  }
  .gap-20{
    gap: var(--gap-20);
  }
  .gap-30{
    gap: var(--gap-30);
  }
  .gap-40{
    gap: var(--gap-40);
  }



  .no-margin{
    margin: 0;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .no-break-word{
    white-space: nowrap;
  }

  .text-center{
    text-align: center;
  }

  .bold {
    font-weight: 700;
  }

  .space-between {
    justify-content: space-between;
  }

  .align-center{
    align-items:center;
  }

  .grow-1{
    flex-grow: 1;
  }

  .shrink-0{
    flex-shrink: 0;
  }

  .basis-0{
    flex-basis: 0;
  }

  .order-1{
    order:1
  }

  .order-2{
    order:2
  }

  .full-width{
    width: 100%;
  }

  .pb-20{
    padding-block: 20px;
  }

  .pi-20{
    padding-inline: 20px;
  }

  .Header_svg__hide_mobile{
    display: none;
    @media (min-width:700px){
      display: unset;
    }
  }

}

@layer typography{

  .text-heading-wow{
    font-size: 30px;
    font-weight: 900;
  
    @media (min-width:700px){
      font-size: 40px;
    }
  
    @media (min-width:1000px){
      font-size: 100px;
    }
  }

  .text-heading-wow-2{
    font-size: 30px;
    font-weight: 500;
  
    @media (min-width:700px){
      font-size: 40px;
    }
  
    @media (min-width:1000px){
      font-size: 70px;
    }
  }

  
  .text-heading-1{
    font-size: 25px;
    font-weight: 500;
    line-height: 20px;
  
    @media (min-width:700px){
      font-size: 35px;
    }
  
    @media (min-width:1000px){
      font-size: 54px;
    }
  
  
  }
  
  .text-heading-2{
    font-size: 20px;
    font-weight: 500;
    line-height: 44px;
  
    @media (min-width:700px){
      font-size: 25px;
    }
  
    @media (min-width:1400px){
      font-size: 40px;
    }
  }

  
  
  
  .text-heading-4{
    font-size: 13px;
    font-weight: 500;
  
    @media (min-width:700px){
      font-size: 16px;
    }
  
    @media (min-width:1400px){
      font-size: 20px;
    }
  }
  
  
  .text-btn-large{
    font-size: 15px;
    font-weight: 500;

    @media (min-width:1000px){
      font-size: 20px;
    }
  }

  .text-btn-medium{
    font-size: 10px;
    font-weight: 500;
    
    @media (min-width:1000px){
      font-size: 15px;
    }
  }
  
  .text-body-1{
    font-size: 14px;
    font-weight: 400;
  
   
  
    @media (min-width:1000px){
      font-size: 18px;
    }
  
  }
  
  .text-body-2{
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
  
    @media (min-width:700px){
      font-size: 18px;
      line-height: 32px;
    }
  
    @media (min-width:1000px){
      font-size: 24px;
    }
  }

  .caption {
    font-size: 10px;
    @media (min-width:1000px){
      font-size: 14px;
    }
  }

}


.body-wrapper{
  display: grid;
  grid-template-columns: [pad-left-start] 20px [pad-left-end main-start] 1fr [main-end pad-right-start] 20px [pad-right-end];
}

@media (min-width: 1000px){
  .body-wrapper{
    grid-template-columns: [pad-left-start] 100px [pad-left-end main-start] 1fr [main-end pad-right-start] 100px [pad-right-end];
  }
}



.body-wrapper-content{
  grid-column: main-start/main-end;
}

