:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-dark-blue: #3658D3; 
  --gap-5: 5px;
  --gap-10: 10px;
}


@font-face {
  font-family: 'Heavywow';
  src: url('/fonts/HeyWowRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Heavywow', sans-serif;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


@layer colors {
   .dark-blue{
    color: var(--color-dark-blue);
   }
}

@layer util{

  .row{
    display: flex; 
  }
  
  .column{
    display: flex;
    flex-direction: column;
  }

  .row-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .column-center{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  
  .wrap {
    flex-wrap: wrap;
  }
  
  .gap-10{
    gap: var(--gap-10);
  }
  .gap-5{
    gap: var(--gap-5);
  }


  .no-margin{
    margin: 0;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .no-break-word{
    white-space: nowrap;
  }

  .text-center{
    text-align: center;
  }


}


.body-wrapper{
  display: grid;
  grid-template-columns: [pad-left-start] 20px [pad-left-end main-start] 1fr [main-end pad-right-start] 20px [pad-right-end];
}

@media (min-width: 1000px){
  .body-wrapper{
    grid-template-columns: [pad-left-start] 100px [pad-left-end main-start] 1fr [main-end pad-right-start] 100px [pad-right-end];
  }
}



.body-wrapper-content{
  grid-column: main-start/main-end;
}

.text-heading-wow{
  font-size: 30px;
  font-weight: 900;

  @media (min-width:700px){
    font-size: 40px;
  }

  @media (min-width:1000px){
    font-size: 100px;
  }
}

.text-heading-1{
  font-size: 25px;
  font-weight: 500;
  line-height: 20px;

  @media (min-width:700px){
    font-size: 35px;
  }

  @media (min-width:1000px){
    font-size: 54px;
  }


}

.text-heading-2{
  font-size: 20px;
  font-weight: 500;
  line-height: 44px;

  @media (min-width:700px){
    font-size: 25px;
  }

  @media (min-width:1400px){
    font-size: 40px;
  }
}

.text-btn-large{
  font-size: 20px;
  font-weight: 500;
}

.text-body-1{
  font-size: 14px;
  font-weight: 400;

 

  @media (min-width:1000px){
    font-size: 18px;
  }

}

.text-body-2{
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;

  @media (min-width:700px){
    font-size: 18px;
  }

  @media (min-width:1000px){
    font-size: 24px;
  }
}