@layer base, typography, colors, util;



@layer base{

  :root {
    --background: #ffffff;
    --foreground: #171717;
  
    --color-text-primary: #0F0F0F;
    --color-text-secondary: #FDFAF5;
    --color-text-tertiary: #A8A8A8;
  
    --color-accent-blue: #619BF7;  
    --color-accent-yellow: #FFEDAF;
    --color-accent-pink: #FFBABA;
    --color-accent-orange: #EC5212;
    --color-accent-green: #41B383;
    --color-accent-dark-blue: #3658D3;
    --color-accent-light-blue: #C0D7FC;
    --color-accent-light-yellow: #FFF6DA;
    --color-accent-light-pink: #A8A8A8;
    --color-accent-light-orange: #F9CBB8;
    --color-accent-light-green: #9FD8C0;
    --color-accent-light-dark-blue: #ADBAEC;
  
    --color-bg-light: #FFFFFF;
    --color-bg-gray: #F2F2F2;
    --color-bg-dark: #0F0F0F;
  
    --gap-5: 5px;
    --gap-10: 10px;
    --gap-20: 20px;
    --gap-30: 30px;
    --gap-40: 40px;
  }
  
  
  @font-face {
    font-family: 'HeyWow';
    src: url('/fonts/HeyWowRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  
  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }
  
  html,
  body {
    /* height: 100dvh;
    overflow: scroll; */
    font-family: 'Heavywow', sans-serif;
  }

  button{
    cursor: pointer;
  }
  


  * {
    box-sizing: border-box;
    margin: 0;
  }

}



@layer colors {

   .accent-blue{
    color: var(--color-accent-blue);
   }
   .accent-yellow{
    color: var(--color-accent-yellow);
   }
   .accent-pink{
    color: var(--color-accent-pink);
   }

   .accent-orange{
    color: var(--color-accent-orange);
   }

   .accent-green{
    color: var(--color-accent-green);
   }

   .accent-dark-blue{
    color: var(--color-accent-dark-blue);
   }

   .accent-light-blue{
    color: var(--color-accent-light-blue);
   }

   .accent-light-yellow{
    color: var(--color-accent-light-yellow);
   }

   .accent-light-pink{
    color: var(--color-accent-light-pink);
   }

   .accent-light-orange{
    color: var(--color-accent-light-orange);
   }

   .accent-light-green{
    color: var(--color-accent-light-green);
   }

   .accent-light-dark-blue{
    color: var(--color-accent-light-dark-blue);
   }




   .color-text-primary{
    color: var(--color-text-primary);
   }
   .color-text-secondary{
    color: var(--color-text-secondary);
   }

   .color-text-tertiary{
    color: var(--color-text-tertiary);
   }


   .bg-light{
    background-color: var(--color-bg-light);
   }
   .bg-gray{
    background-color: var(--color-bg-gray);
   }
   .bg-accent-pink{
    background-color: var(--color-accent-pink);
   }
   .bg-accent-yellow{
    background-color: var(--color-accent-yellow);
   }
   .bg-light-orange{
    background-color: var(--color-accent-light-orange);
   }
   .bg-light-green{
    background-color: var(--color-accent-light-green);
   }
   .bg-light-dark-blue{
    background-color: var(--color-accent-light-dark-blue);
   }
   .bg-dark-blue{
    background-color: var(--color-accent-dark-blue);
   }

   .bg-dark{
    background-color: var(--color-bg-dark);
   }


  
}

@layer util{

  .row{
    display: flex; 
  }
  
  .column{
    display: flex;
    flex-direction: column;
  }

  .row-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .column-center{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  
  .wrap {
    flex-wrap: wrap;
  }
  
  .gap-10{
    gap: var(--gap-10);
  }
  .gap-5{
    gap: var(--gap-5);
  }
  .gap-20{
    gap: var(--gap-20);
  }
  .gap-30{
    gap: var(--gap-30);
  }
  .gap-40{
    gap: var(--gap-40);
  }



  .no-margin{
    margin: 0;
  }
  .ml-auto{
    margin-left: auto;
  }
  .mt-auto{
    margin-top: auto;
  }
  .mr-auto{
    margin-right: auto;
  }

  .align-self-start{
    align-self: flex-start;
  }

  .align-self-end{
    align-self: flex-end;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .no-break-word{
    white-space: nowrap;
  }

  .text-center{
    text-align: center;
  }

  .text-right{
    text-align: right;
  }

  .bold {
    font-weight: 700;
  }

  .space-between {
    justify-content: space-between;
  }

  .space-around {
    justify-content: space-around;
  }

  .align-center{
    align-items:center;
  }

  .grow-1{
    flex-grow: 1;
  }

  .shrink-0{
    flex-shrink: 0;
  }

  .basis-0{
    flex-basis: 0;
  }

  .order-1{
    order:1
  }

  .order-2{
    order:2
  }

  .full-width{
    width: 100%;
  }

  .pb-20{
    padding-block: 20px;
  }

  .pi-20{
    padding-inline: 20px;
  }

  .Header_svg__hide_mobile{
    display: none;
    @media (min-width:700px){
      display: unset;
    }
  }

}

@layer typography{

  .text-menu{
    font-weight: 400;
    font-size: 14px;

    @media (min-width:700px) {
        font-size: 14px;
    }

    @media (min-width:1000px) {
      font-size: 16px;
    }

  }

  .text-menu-button{
    font-weight: 500;
    font-size: 12px;

    @media (min-width:700px) {
        font-size: 14px;
    }

    @media (min-width:1000px) {
      font-size: 16px;
    }
    
  }

  .text-btn-1{
    font-weight: 500;
    font-size: 16px;

    @media (min-width:700px) {
        font-size: 20px;
    }

    @media (min-width:1000px) {
      font-size: 24px;
    }
    
  }

  .text-btn-2{
    font-weight: 500;
    font-size: 14px;

    @media (min-width:700px) {
        font-size: 16px;
    }

    @media (min-width:1000px) {
      font-size: 20px;
    }
    
  }

  .text-head-1{
    font-weight: 900;
    font-size: 30px;

    @media (min-width:700px) {
        font-size: 60px;
    }

    @media (min-width:1000px) {
      font-size: 100px;
    }
    
  }

  .text-head-2{
    font-weight: 600;
    font-size: 40px;

    @media (min-width:700px) {
        font-size: 50px;
    }

    @media (min-width:1000px) {
      font-size: 70px;
    }
    
  }

  .text-head-3{
    font-weight: 500;
    font-size: 22px;

    @media (min-width:700px) {
        font-size: 36px;
    }

    @media (min-width:1000px) {
      font-size: 40px;
    }
    
  }

  .text-head-4{
    font-weight: 500;
    font-size: 18px;

    @media (min-width:700px) {
        font-size: 30px;
    }

    @media (min-width:1000px) {
      font-size: 40px;
    }
    
  }

  .text-head-5{
    font-weight: 900;
    font-size: 20px;

    @media (min-width:700px) {
        font-size: 30px;
    }

    @media (min-width:1000px) {
      font-size: 40px;
    }
    
  }

  .text-head-6{
    font-weight: 800;
    font-size: 18px;

    @media (min-width:700px) {
        font-size: 22px;
    }

    @media (min-width:1000px) {
      font-size: 26px;
    }
    
  }

  .text-body-1{
    font-weight: 400;
    font-size: 14px;

    @media (min-width:700px) {
        font-size: 20px;
    }

    @media (min-width:1000px) {
      font-size: 24px;
    }
    
  }

  .text-body-2{
    font-weight: 700;
    font-size: 14px;

    @media (min-width:700px) {
        font-size: 20px;
    }

    @media (min-width:1000px) {
      font-size: 24px;
    }
    
  }

  .text-body-3{
    font-weight: 400;
    font-size: 12px;

    @media (min-width:700px) {
        font-size: 14px;
    }

    @media (min-width:1000px) {
      font-size: 18px;
    }
    
  }

  .text-body-4{
    font-weight: 300;
    font-size: 10px;

    @media (min-width:700px) {
        font-size: 12px;
    }

    @media (min-width:1000px) {
      font-size: 14px;
    }
    
  }

}


.body-wrapper{
  display: grid;
  grid-template-columns: [pad-left-start] 20px [pad-left-end main-start] 1fr [main-end pad-right-start] 20px [pad-right-end];
}

@media (min-width: 1000px){
  .body-wrapper{
    grid-template-columns: [pad-left-start] 100px [pad-left-end main-start] 1fr [main-end pad-right-start] 100px [pad-right-end];
  }
}



.body-wrapper-content{
  grid-column: main-start/main-end;
}

