

.cont{
    --width: 96px;
    width: var(--width);
    aspect-ratio: 1/1;
    background-color: var(--color-accent-yellow);
    padding: 10px;
    border-radius: 50%;

    & img{
        max-width: 100%;
        object-fit: cover;
    }
}

.cont[data-size='sm']{
    --width: 25px;
}

.cont[data-size='md']{
    --width: 96px;
}

.cont[data-size='lg']{
    --width: 156px;
}

.cont[data-size='grow']{
    --width: 100%;
}