

.container {
    /* min-height: 100vh; */
}
.content {
    position: relative;
    isolation: isolate;
}

.back{

    & svg{
        aspect-ratio: 1/1;
        overflow: visible;
    }
}

.topic_cont{
    position: absolute;
    bottom: -2%;
    left: 0px;
    z-index: 0;

    @media(min-width: 700px){
        bottom: 10%;
    }

    @media(min-width: 1000px){
        bottom: 5%;
    }
}

.topic_content{
    display:grid;
    grid-template-columns: 218px;
    grid-template-rows: 210px;
    grid-auto-flow: column;
    grid-auto-columns: 250px;
    overflow: scroll;
    max-width: 218px;
    aspect-ratio: 1 / 1;
    z-index: -1;
    scroll-snap-type: x mandatory;

    @media (min-width: 700px){
        grid-template-columns: repeat(2, minmax(200px, 250px));
        grid-template-rows: 250px 250px;
        max-width: 100%;
    }


    @media (min-width: 1000px){
        grid-template-columns: repeat(2, minmax(200px, 300px));
        grid-template-rows: 300px 300px;
        max-width: auto;
    }

    @media (min-width: 1400px){
        grid-template-columns: repeat(2, minmax(200px, 380px));
        grid-template-rows: 400px 400px;
        max-width: auto;
    }

    --bg-color-1: #FDFAF5;
    --bg-color-2: #41B383;
    --bg-color-3: #FFBABA;
    --bg-color-4: #619BF7;

    & .topicA{
        background-color: var(--bg-color-1);
    }
    & .topicB{
        background-color: var(--bg-color-2);
    }
    & .topicC{
        background-color: var(--bg-color-3);
    }
    & .topicD{
        background-color: var(--bg-color-4);
    }
}

.topic {
    padding: 20px;
    gap: 10px;
    justify-content: space-between;
    scroll-snap-align: start;

    @media (min-width: 1000px){
        padding: 20px;
        gap: 20px;
    }

    & svg{
        width: 100px;
        aspect-ratio: 1/1;
        align-self: center;

        @media (min-width: 700px){
            width: 60px;
        }

        @media (min-width: 1000px){
            width: 100px;
        }

        @media (min-width: 1400px){
            width: 147px;
        }
    }
}
