

.container {
}
.content {
    position: relative;
    isolation: isolate;
}

.back{
    & svg{
        aspect-ratio: 1/1;
        overflow: visible;
    }
}



.plan_content_cont{
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0%;
    width: min(80%, 1040px);

}

.plan_content{
    display: grid;
    grid-template-columns: 200px;
    gap: 30px;

    @media (min-width: 700px) {
        grid-template-columns: 200px 300px;
    }

    @media (min-width: 1000px) {
        grid-template-columns: 400px 300px;
    }
    @media (min-width: 1400px) {
        grid-template-columns: 500px 400px;
    }
}

.first_web{
    order: 2;
    @media (min-width: 1000px) {
        order: 1;
    }
}

.second_web{
    order: 1;
    @media (min-width: 1000px) {
        order: 2;
    }
}


.long_ladder{
    display: block;
    @media(min-width: 700px){
        display: none;
    }
}

.blackboard{
    border-radius: 20px;
    background-color: #575757;
    display: flex;
    height: 150px;
    justify-content: center;
    padding: 20px;

    @media (min-width: 1000px) {
        height: 277px;
    }
}

.board_item{
    border-radius: 100px;
    padding: 10px  15px;
}