

.container {}
.content {
    position: relative;
    isolation: isolate;
}

.back{
    & svg{
        aspect-ratio: 1/1;
        overflow: visible;
    }
}



.plan_content_cont{
    position: absolute;
    z-index: 1;
    left: 0;
    top: 30%;
    width: min(80%, 840px);

    @media(min-width: 700px){
        top: 50%;
    }

}

.plan_content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    @media (min-width: 1000px) {
        justify-items: center;
    }
}

.first_web{
    order: 2;
    @media (min-width: 1000px) {
        order: 1;
    }
}

.second_web{
    order: 1;
    @media (min-width: 1000px) {
        order: 2;
    }
}


.long_ladder{
    display: block;
    @media(min-width: 700px){
        display: none;
    }
}

.monitor_icon{
    width: 200px;

    @media(min-width: 700px){
        width: 300px;
    }
    @media(min-width: 1400px){
        width: 400px;
    }
}

