
.container {
    min-height: 100vh;
    justify-content: center;
}


.child_1{
    margin-bottom: 50px;
}

.child_2{
    margin-bottom: 100px;
}

.register_btn{
    border-radius: 100px;
    border: none;
    width: fit-content;
    padding: 10px 30px;
}

.topics_cont {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

.topic {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    border-radius: 10px;
    gap: 20px;
    padding: 20px;
    justify-content: space-between;
    align-items: stretch;

    @media (min-width:700px){
        min-height: 247px;
    }

    
}

.topic_1{
    background-color: var(--color-accent-light-blue);
}
.topic_2{
    background-color: var(--color-accent-light-yellow);
}
.topic_3{
    background-color: var(--color-accent-light-pink);
}

.topic_title{
    display: flex;
    gap: 5px;
    align-items: flex-start;
}

.topic_btn{
    border-radius: 100px;
    background-color: #FFFFFF99;
    width: fit-content;
    padding: 5px 20px;
}