

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 30px 0;
  background-color: transparent;
}

.content{
  justify-content: space-between;
}



.brand_logo{
  & svg {
    width: 48px;
    height: 35px;
  }
  @media (min-width: 700px) {
    width: 65px;
    height: 48px;
  }
}
